.txt{
    color: black;
}
.txt-1 {
    color: red;
}
.txt, .txt-1 {
    height: 50px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 8px;
    justify-content: center;
    font-size: 12px;
}

.Map-all{
    border: 2px solid black;
}